common --enable_bzlmod=true

common:rbe --java_runtime_version=11
common:rbe --tool_java_runtime_version=11

common:workspace --enable_bzlmod=false --enable_workspace=true

build --strategy=KotlinCompile=worker
build --test_output=all
build --verbose_failures

# Required for windows ci
startup --windows_enable_symlinks
common --enable_runfiles

try-import %workspace%/bit-ignore.bazelrc

# Expose (not really) experimental Android providers need by rules_android-
# AndroidLibraryResourceClassJarProvider, AndroidIdeInfo, ...
# The following common and build flags are required for the
# migration to rules_android alpha
common \
  --experimental_enable_android_migration_apis \
  --experimental_google_legacy_api \
  --incompatible_java_common_parameters
build \
  --android_databinding_use_v3_4_args \
  --experimental_android_databinding_v2

# User-specific .bazelrc
try-import %workspace%/user.bazelrc
